.dropdown {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  align-self: flex-end;
}

label {
  cursor: pointer;
}

input[type="checkbox"] + label {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    margin: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
}

input[type="checkbox"]:checked + label {
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}
